@import url(https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Paytone+One&display=swap);
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 20px auto;
  width: 500px;
}

@media (max-width: 700px) {
  .container {
    margin: 0px;
    margin-top: -20px;
    border-radius: 0px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
  }
}

.gameover {
  position: relative;
}

.gameover .gameover__icon-fiesta {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.3;
}

.gameover__title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 10px;
}

.gameover__icon {
  display: block;
  margin: 0px auto;
  width: 150px;
}

.gameover__points {
  font-size: 2.5em;
  text-align: center;
}

.gameover__best {
  text-align: center;
}

.gameover__btn {
  height: 45px;
  padding: 5px 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(223, 0, 255, 0.5);
  cursor: pointer;
  margin-bottom: 40px;
}

.gameover__btn:hover {
  background: rgba(223, 0, 255, 0.8);
  box-shadow: 2px 10px 5px -3px rgba(176, 176, 176, 0.1);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #f7f7f7;
}

h1 {
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 1px;
}

body {
  background: linear-gradient(to left, #1B1F4D, #383D70);
  font-family: 'Catamaran', sans-serif;
}

.profile__logo {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile__h1 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}

.profile__h2 {
  font-size: 1.3em;
  margin-top: 20px;
}

.profile__input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 25px;
  height: 40px;
  margin-top: 20px;
  padding: 0px 10px;
  width: 100%;
  outline: none;
}

.profile__input:focus {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.profile__btn {
  height: 45px;
  padding: 5px 20px;
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(223, 0, 255, 0.5);
  cursor: pointer;
  margin-bottom: 40px;
}

.profile__btn:hover {
  background: rgba(223, 0, 255, 0.8);
  box-shadow: 2px 10px 5px -3px rgba(176, 176, 176, 0.1);
}

.profile__btn_secondary {
  height: 45px;
  padding: 5px 20px;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  cursor: pointer;
}

.profile__btn_secondary:hover {
  background: rgba(223, 0, 255, 0.1);
  box-shadow: 2px 10px 5px -3px rgba(176, 176, 176, 0.1);
}

.quizz__puntuation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.quizz__puntuation .quizz__btn_salir {
  height: 45px;
  background: transparent;
  vertical-align: middle;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 20px;
  width: 120px;
  height: 100%;
}

.quizz__puntuation .quizz__btn_salir:hover {
  background: rgba(223, 0, 255, 0.1);
  box-shadow: 2px 10px 5px -3px rgba(176, 176, 176, 0.1);
}

.quizz__puntuation .quizz__puntuation_number {
  display: flex;
  font-size: 2em;
}

.quizz__puntuation .quizz__puntuation_number img {
  height: 50px;
  margin-left: 10px;
  width: 50px;
}

.quizz__h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}

.quizz__options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin: 40px 0px;
}

.quizz__option {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  height: 50px;
  width: 100%;
}

.quizz__option:active {
  border: 4px solid rgba(255, 255, 255, 0.5);
}

.quizz__error {
  font-weight: 800;
  font-size: 1em;
}

.quizz__error_icon {
  width: 40px;
  display: block;
  margin: 0px auto;
}

@media (max-width: 700px) {
  .quizz__puntuation {
    margin-bottom: 20px;
  }
  .question__container {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */