.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 20px auto;
  width: 500px;
}

@media (max-width: 700px){
  .container{
    margin: 0px;
    margin-top: -20px;
    border-radius: 0px;      
    min-height: 100vh;
    height: 100%;;
      width: 100%;
      padding: 0px 20px;
  }
}


