.quizz__puntuation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  .quizz__btn_salir {
    height: 45px;
    background: transparent;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 100%;

    &:hover {
      background: rgba(223, 0, 255, 0.1);
      box-shadow: 2px 10px 5px -3px rgba(176, 176, 176, 0.1);
    }
  }

 

  .quizz__puntuation_number {  
    display: flex;
    font-size: 2em;
    img {
        height: 50px;
        margin-left: 10px;
        width: 50px;
      }
  }
}

.quizz__h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
}

.quizz__options {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin: 40px 0px;
  
}
 .quizz__option {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 600;
  height: 50px;
  width: 100%;
  &:focus{
    border: 4px solid rgba(255, 255, 255, 0.5);
    
  }
  
 
} 


